/* Global */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* Scrollbar */
::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { border-radius: 3px; opacity: 0.2; }

::selection { background-color: #cccccc; }

/* CodeMirror Components */
.CodeMirror-scroll {
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Fira Mono', 'Inconsolata', 'Menlo', 'Consolas', monospace;
  line-height: 26px;
  padding-left: 20%;
  padding-right: 20%;
  cursor: text;
}
.CodeMirror-sizer { padding-top: 28px; }

/* App Wrapper */
.app-wrapper { width: 100%; height: 100vh; overflow: hidden; }

/* Editor Wrapper */
.app-wrapper .editor-wrapper {
	position: relative;
	z-index: 5;
	float: left;
	display: block;
	width: 100%;
	height: 100%;
	transition: all 250ms ease-in-out;
}

/* Editor - CodeMirror */
.app-wrapper .editor-wrapper .CodeMirror-wrap {
	width: 100%;
	height: 100%;
}

/* Preview Wrapper */
.app-wrapper .preview-wrapper {
	float: right;
	display: block;
	width: 0;
	height: 100%;
	transition: all 250ms ease-in-out;
}

/* Preview */
.app-wrapper .preview-wrapper .preview-area {
	width: 100%;
	height: 100%;
	padding: 36px 15%;
  word-break: normal;
  white-space: normal;
	overflow: auto;
}

/* ============== */
/* Toggle Preview */
/* ============== */
.app-wrapper .editor-wrapper.shrink-editor { width: 50%; }
.app-wrapper .preview-wrapper.extend-preview { width: 50%; }
.app-wrapper .editor-wrapper.shrink-editor--full { width: 0; }
.app-wrapper .preview-wrapper.extend-preview--full { width: 100%; }