/* Font stacks */
body {
	--serif-type: 'Lora', 'Baskerville', 'Georgia', serif;
	--sansserif-type: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	--mono-type: 'Fira Mono', 'Inconsolata', 'Menlo', 'Consolas', monospace;;
}

.preview-area {
	color: #242424;
	background-color: #fefefe;
	font-family: var(--sansserif-type);
	font-size: 16px;
}

/* Headings */
/* ============== */
h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }
h1, h2, h3, h4, h5, h6 { padding-top: 0.8em; padding-bottom: 0.2em; }

/* Paragraphs */
/* ============== */
p { line-height: 1.6em; padding-top: 0.2em; padding-bottom: 0.4em; }

/* Links */
/* ============== */
a { text-decoration: none; color: #5cb7f2; transition: all 200ms ease-in-out; }
a:hover { text-decoration: underline; }

/* Lists */
/* ============== */
ul, ol { list-style-position: inside; padding-left: 1em; }
li { line-height: 1.6em; }

/* Quoting quotes */
/* ============== */
pre {
	padding: 1em 0.6em;
	border-radius: 3px;
	background-color: #f2f2f2;
	word-wrap: break-word;
	white-space: pre-wrap;
	tab-size: 2;
}
pre > code {
	padding: 0;
	line-height: 1.2em;
}
code {
	padding: 0.1em 0.2em;
	border-radius: 3px;
	background-color: #f2f2f2;
	font-size: 0.8em;
}

/* Images */
/* ============== */
img {
	width: 100%;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}

/* Blockquotes */
/* ============== */
blockquote {
	margin-top: 0.2em;
	margin-bottom: 0.4em;
	border-left: 3px solid #cfcfcf;
	padding-left: 1em;
	opacity: 0.5;
}
blockquote p {
	padding: 0;
	font-style: italic;
}

/* Extras */
/* ============== */
hr {
	width: 100%;
	height: 2px;
	border: none;
	background-color: #cfcfcf;
	opacity: 0.5;
}